AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: false
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 4
ExperimentalAutoDetectBinPacking: false
IndentWidth: 4
InsertTrailingCommas: Wrapped
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1
PenaltyBreakAssignment: 50
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 200
PenaltyBreakTemplateDeclaration: 0
PenaltyExcessCharacter: 1000
PenaltyIndentedWhitespace: 0
SeparateDefinitionBlocks: Always
PenaltyReturnTypeOnItsOwnLine: 300
PointerAlignment: Right
QualifierAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: CaseSensitive
SortUsingDeclarations: true
NamespaceIndentation: All
EmptyLineBeforeAccessModifier: Always
KeepEmptyLinesAtTheStartOfBlocks: false
